@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


h1{
    font-family: 'Noto Sans', sans-serif;
}

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.container-fluido {
    height: 400px;
  }
  
  